:root{
  --brand:#3b6fa8;
  --bg:#f3f5f8;
  --border:#d6dbe3;
  --text:#1f2937;
  --muted:#6b7280;
  --danger:#b91c1c;
  --primary:#3b82f6;
  --radius:20px;
}

*{box-sizing:border-box;font-family:system-ui,Segoe UI,Roboto}

body{
  margin:0;
  background:var(--bg);
}

.app{
  max-width:420px;
  margin:auto;
  min-height:100vh;
  display:flex;
  flex-direction:column;
}

.topbar{
  position:sticky;
  top:0;
  z-index:1000;

  padding:14px 16px;
  display:flex;
  align-items:center;
  background:white;

  box-shadow:0 4px 16px rgba(0,0,0,.08);
}

.left{
  display:flex;
  align-items:center;
  gap:12px;
  font-weight:600;
  font-size:18px;
}

.back{
  font-size:22px;
  cursor:pointer;
}

.body{
  padding:16px 18px 28px;
}

.field{
  margin-bottom:14px;
}

.label{
  font-size:13px;
  color:var(--muted);
  margin-bottom:6px;
}

.input{
  width:100%;
  padding:16px 18px;
  border-radius:var(--radius);
  border:2px solid var(--border);
  background:#f8fafc;
  font-size:15px;
  outline:none;
}

.input:focus{
  border-color:var(--brand);
  background:white;
}

.divider{
  height:8px;
  background:#e5e7eb;
  margin:18px -18px;
}

.section-title{
  font-weight:700;
  font-size:18px;
  margin-bottom:12px;
}

.summary-row{
  display:flex;
  justify-content:space-between;
  padding:10px 0;
  border-bottom:1px solid #e5e7eb;
}

.summary-row:last-child{
  border-bottom:none;
}

.due{
  color:var(--danger);
}

.btn{
  width:100%;
  padding:16px;
  border-radius:20px;
  font-size:16px;
  font-weight:700;
  cursor:pointer;
  margin-top:14px;
}

.btn-primary{
  background:white;
  border:2px solid var(--primary);
  color:var(--primary);
  transition:all 0.2s;
}

.btn-primary:hover{
  /* background:var(--primary); */
  background:linear-gradient(135deg,#000000,#001eff);
  color:white;
}

.btn-danger{
  background:white;
  border:2px solid var(--danger);
  color:var(--danger);
  transition:all 0.2s;
}

.btn-danger:hover{
  background:var(--danger);
  color:white;
}

.status{
  text-align:center;
  margin-top:10px;
  font-size:14px;
}